.user-item {
  list-style: none;
  background-color: #292929;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  margin: 1rem;
  min-width: 25rem;

  &:hover,
  &:active {
    background: #ffd900;

    h2,
    h3 {
      color: #292929 !important;
    }
  }

  .user-item-content {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    color: white;

    .user-item-avatar {
      img {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
      }
    }

    .user-item-info {
      h2 {
        font-size: 1.5rem;
        margin: 0 0 0.5rem 0;
        font-weight: normal;
        color: #ffd900;
      }

      h3 {
        margin: 0;
        text-align: left;
      }
    }
  }
}
